<%-include('partials/header.ejs');-%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1>Compose</h1>
<form action="/compose" method="post">

  <label>Title</label><br>
  <input type="text" name="title" class="col-lg-12"><br><br>

  <label>Post</label><br>

  <textarea name="textbody" rows="4" cols="160"></textarea><br><br>

  <button type="submit" class="btn btn-primary">Publish</button>

</form>

<%-include('partials/footer.ejs');-%>
