<%-include('partials/header.ejs');-%>

<form class="was-validated " action="/delete" id="delform" >
  <div class="mb-3">
    <label for="validationTextarea" class="form-label "><h5>Title</h5></label>
    <textarea class="form-control is-invalid " name="title" id="validationTextarea" placeholder="Enter the 'Title' of the content you'd like to DELETE, same as when published." required></textarea>
    <div class="invalid-feedback">
      Title has to be same as before.
    </div>
  </div>

  <div class="mb-3">
    <button class="btn btn-primary " type = "submit" onclick="delfunc()">Delete</button>
</div>
</form>

<script>
  function delfunc(){
    if(confirm("Are you sure you want to delete post?\n Click OK to continue") === true){
      document.getElementById('delform').method = "post"
    }else{
      alert("Canceled")
    }
  }


</script>




<%-include('partials/footer.ejs');-%>
