<%-include('partials/header.ejs');-%>

<br>
<div class = "alert alert-success" role = "alert" >
  <h4 class = "alert-heading" > Sorry! </h4>
  <p> No such post exists (check the spelling) or the post wasn't uploaded by you, make sure you logged in with the same email as the time of upload. </p>
  <a href="/edit" class="alert-link">Try again</a>


  </div>

<%-include('partials/footer.ejs');-%>
