<%-include('partials/header.ejs');-%>

<br>
<div class = "alert alert-secondary" role = "alert" >
  <h4 class = "alert-heading" > Failed to Login! </h4>
  <p> The user doesn't exist (make sure the details entered are correct). </p>
  <a href="/login" class="alert-link">Try again</a>
  <hr>
  <p>Click the link below to create a new account </p>
  <a href="/register" class="alert-link">Register</a>


  </div>

<%-include('partials/footer.ejs');-%>
